{{define "index.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/dist/css/tailwind.css">
</head>
<body>
    <div id="root">
    <div class="flex w-full h-screen items-center justify-center flex-col">
        <h1>Hello Friend!</h1>
        <img src="/public/images/gin-gonic.webp" width="250"alt="gin-gonic-logo">
        <button-with-counter button-text="Increment"></button-with-counter>
    </div>
    </div>  
</body>

<script src="/dist/js/index/index-page-script.js"></script>
</html>

{{end}}