{{define "signin/index.html" }}
<!DOCTYPE html>
<html lang="en">
    {{template "layouts/header.html"}}
<body>
   <main class="flex items-center justify-center w-full h-screen">
    <div class="bg-red-600 flex h-3/4 w-4/5">
        <div class="h-100 w-3/5  bg-red-800">
            
        </div>
        <div class="h-100 w-2/5 bg-red-50">
            <div>
                <div>

                </div>
                <div>
                <form>
                    <input type="email" name="email">
                    <input type="password" name="password">
                    <button type="submit">Sign in</button>
                </form>
                </div>
               
            </div>
        </div>
    </div>
   </main>
</body>
</html>
{{end}}