{{define "pages/create_product.html" }}

<!DOCTYPE html>
<html lang="en">
{{template "base/header.html"}}
<body>
    <main>
        
        <div id="createProductsPage">
            <p>${message}$</p>
            <p>${count}$</p>
            
            <div>
                <button @click="increment">
                    Increment
                </button>
                &nbsp;
                <button @click="decrement">
                    Decrement
                </button>
            </div>
        </div>
            
             
        
    </main>
</body>
<script src="/static/js/build/product.js">

</script>
</html>


   
   
  
{{end}}